<%= form_for @post do |form| %>
  <p>
    <%= form.label :caption %><br>
    <%= form.text_field :caption %>
  </p>

  <p>
    <%= form.label :image %><br>
    <%= form.text_area :image %>
  </p>

  <p>
    <%= form.submit "Submit" %>
  </p>
<% end %>
